# ========================
# ELIXIR
# ========================
**/_build/
**/cover/
**/deps/
**/doc/
**/.fetch
erl_crash.dump
*.ez
*.beam
**/config/*.secret.exs
.elixir_ls/
mix.lock

# ========================
# GO
# ========================
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
/vendor/
go.work.sum

# ========================
# WINDOWS
# ========================
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
Desktop.ini
$RECYCLE.BIN/
*.lnk

# ========================
# ZED
# ========================
.zed/

# ========================
# MISC
# ========================
.DS_Store
*.log
.env
.env.local
